[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.assets" = "*"
"aws-cdk.aws-certificatemanager" = "*"
"aws-cdk.aws-cloudfront" = "*"
"aws-cdk.aws-cloudwatch" = "*"
"aws-cdk.aws-cognito" = "*"
"aws-cdk.aws-dynamodb" = "*"
"aws-cdk.aws-iam" = "*"
"aws-cdk.aws-kms" = "*"
"aws-cdk.aws-lambda" = "*"
"aws-cdk.aws-route53" = "*"
"aws-cdk.aws-route53-targets" = "*"
"aws-cdk.aws-s3" = "*"
"aws-cdk.aws-s3-assets" = "*"
"aws-cdk.aws-secretsmanager" = "*"
"aws-cdk.core" = "*"
boto3 = "*"
pydantic = "*"
"aws-cdk.aws-apigateway" = "*"
botocore = "*"

[dev-packages]

[requires]
python_version = "3.9"
