aws-cdk.aws-apigateway>=1.94.1
aws-cdk.aws-certificatemanager>=1.94.1
aws-cdk.aws-cloudwatch>=1.94.1
aws-cdk.aws-dynamodb>=1.94.1
aws-cdk.aws-iam>=1.94.1
aws-cdk.aws-lambda>=1.94.1
aws-cdk.aws-route53>=1.94.1
aws-cdk.aws-route53-targets>=1.94.1
aws-cdk.aws-secretsmanager>=1.94.1
aws-cdk.aws-logs>=1.94.1
aws-cdk.core>=1.94.1
boto3>=1.17.33
pydantic>=1.8.1
requests>=2.25.1
